.footer {
    max-width: 1300px;
    width: 100%;
    margin: auto;
    margin-top: 55px;
    padding: 20px 0;
    border-top: 1px solid black;
    background-color: azure;
}

.footer-content {
    max-width: 1300px;
    width: 100%;
    margin-left: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-section p {
    margin: 5px 0;
}

.footer-section a {
    color: #000000;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    /* justify-content: center; */
}

.social-icons a {
    color: #e40d0d;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ff521e;
    /* Change to desired hover color */
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
}